<h1>Check SRF Files</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <div class="srf">
        <div class="srf-field">
            <mat-form-field>
                <mat-label>Servers</mat-label>
                <select matNativeControl>
                    <option value="ALL">All Servers</option>
                    <option value="10.212.115.5">Koperbi Primary</option>
                    <option value="10.212.115.6">Koperbi Secondary</option>
                    <option value="10.227.115.8">DC Colo Primary</option>
                    <option value="10.227.115.9">DC Colo Secondary</option>
                </select>
            </mat-form-field>
        </div>
        <div class="srf-field-date">
            <mat-form-field class="srf-field-date">
                <input matInput placeholder="Choose a date" type="text" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control" 
                    [locale]="{applyLabel: 'Apply', format: 'DD-MMM-YYYY'}" startKey="start" endKey="end" 
                    [ngModelOptions]="{standalone: true}"
                />
            </mat-form-field>
        </div>
    </div>
    <input type="submit" value="Submit" class="cta">
</form>



<div *ngIf="submitted">
    <table mat-table [dataSource]="srfs" class="mat-elevation-z8">
        <ng-container matColumnDef="serverName">
            <th mat-header-cell *matHeaderCellDef> Server Name </th>
            <td mat-cell *matCellDef="let srf"> {{srf.serverName}} </td>
        </ng-container>
        <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef> File Name </th>
            <td mat-cell *matCellDef="let srf"> {{srf.fileName}} </td>
        </ng-container>
        <ng-container matColumnDef="fileSize">
            <th mat-header-cell *matHeaderCellDef> File Size </th>
            <td mat-cell *matCellDef="let srf"> {{srf.fileSize}} </td>
        </ng-container>
        <ng-container matColumnDef="lastModified">
            <th mat-header-cell *matHeaderCellDef> Last Modified </th>
            <td mat-cell *matCellDef="let srf"> {{srf.lastModified}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>